Django==1.5.4
PIL==1.1.7
South==0.8.1
django-classy-tags==0.3.4.1
django-mptt == 0.5.2
django-sekizai==0.6.1
django-cms==2.4.2
html5lib==0.90
django-geoip==0.3.1
psycopg2==2.5.1
cmsplugin-contact
-e git+https://github.com/divio/django-shop.git#egg=django-shop
-e git+https://github.com/chrisglass/django-shop-simplecategories.git#egg=django-shop-simplecategories