{% extends "base.html" %}


{% block base_content %}

   	<div id="top-area">
		<div id="top-area-bg">
			<div id="bottom-area-bg">
				<div class="container">
					<div id="category-inner">
                           <h1 class="category-title">
                              ggg
                           </h1>

                        <p class="description">
                           gg
                        </p>
                </div> <!-- end #featured -->				</div> <!-- end .container -->
			</div> <!-- end #bottom-area-bg -->
		</div> <!-- end #top-area-bg -->
	</div> <!-- end #top-area -->


    <div id="main-content-area" class="container">
       <div id="breadcrumbs">



         gggggg



           </div>
    </div>
{% endblock %}