{% extends "base.html" %}

{% load cms_tags %}

{% block base_content %}



	<div id="top-area">
		<div id="top-area-bg">
			<div id="bottom-area-bg">
				<div class="container">
					<div id="featured">
                    <a id="left-arrow" href="http://xn----7sbadopoap4a1bx6d4c8b.xn--p1ai/#" style="display: none;">Пред.</a>
                    <a id="right-arrow" href="http://xn----7sbadopoap4a1bx6d4c8b.xn--p1ai/#" style="display: none;">След.</a>

                    <div id="slides" style="background-image: none;">
                                            <div class="slide" style="display: block;">

                                <div class="featured-image">
                                    {% placeholder about_image %}
                                <div class="featured-bg"></div>
                                                    </div> <!-- end .featured-image -->
                                <div class="featured-description">
                                   {% placeholder about_content %}

                                </div> <!-- end .description -->
                            </div> <!-- end .slide -->
                            </div> <!-- end #slides -->

                    <div id="controllers"></div>
                </div> <!-- end #featured -->				</div> <!-- end .container -->
			</div> <!-- end #bottom-area-bg -->
		</div> <!-- end #top-area-bg -->
	</div> <!-- end #top-area -->



{% placeholder menu_content %}


{% placeholder recepi_content %}

{% endblock %}
